<div class="createReservationContainer">
  <div class="formContainer"[formGroup]="form" >
      <form (ngSubmit)="bookingRental(rentalForm)" #rentalForm="ngForm">
          

          <label for="Fname">First Name:</label><br>
          <h3> {{users['first_nm']}}</h3>
          
          <label for="Lname">Last Name:</label><br>
          <h3> {{users['last_nm']}}</h3>  
          
          <label for="vehicle_nm">Vehicle:</label><br>
          <h3>{{rentals['name']}}</h3>
          
          <label for="status">Status:</label><br>
          <h3> {{rentals['status']}}</h3>
          
          <label for="TRN">TRN:</label><br> 
          <input type="text" ngModel name="TRN" placeholder="TRN ">
          
          <label for="rentdate">Rent Date:</label><br> 
          <input type="date" ngModel name="rentdate" placeholder="rentdate ">
      
          <label for="return">Return Date:</label><br> 
          <input type="date" ngModel name="returndate" placeholder="returndate ">
            
          <input  type="submit" value="Submit" class="btn">
      </form>
  </div>
</div>