<div class="container mt-4 mb-4 p-3 d-flex justify-content-center"> 
    <div class="card p-4">
         <div class=" image d-flex flex-column justify-content-center align-items-center">
         <button class="btn btn-secondary"> <img src="/assets/images/profile.jpeg" height="100" width="100" /></button> 
         <span class="name mt-3">{{users['first_nm']}} {{users['last_nm']}}</span> 
         <span class="idd">{{users['email']}}</span> 
         
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                  
            </div> 
         <div class="text mt-3">
                         
                         </div>
                          <br><br>
                             <div class=" px-2 rounded mt-4 date "> 
                                <span class="join">Joined May,2021</span>
                             </div> </div> 
                            </div>
</div>

